<div class="text-content">

<h2>Frequently Asked Questions</h2>

<h3>What is DryIce?</h3>
<p>
DryIce is a simple way to transfer files between computers.
</p>

<h3>How do I use DryIce?</h3>
<p>
Follow these simple steps:
<ol>
    <li>Select a file to upload using the <strong>Browse</strong> button.</li>
    <li>Click <strong>Upload</strong> to upload a file.</li>
    <li>Click a file's button to copy its link to your system 
        clipboard.</li>
    <li>Share the link! Anyone with the link can download the file until
        it expires.</li>
</ol>
</p>

<h3>Who can download my files?</h3>
<p>
Only you can see the files that you've uploaded when visiting the site, but anyone with the link to one of your files can download it. There is no way for users to see a list of files uploaded by other users.
</p>

<h3>Can I share sensitive information through DryIce?</h3>
<p>
You can upload anything you want to DryIce, but be aware that anyone with the link to one of your file can download it.
</p>

<h3>How long are my files stored on DryIce?</h3>
<p>
Files uploaded to DryIce are stored for 60 minutes after they're uploaded before they are automatically deleted. Links to deleted files are no longer valid after that time.
</p>

<h3>Why doesn't DryIce have user accounts?</h3>
<p>
DryIce is meant to be a simple way to temporarily make files available online so you can share between computers. Anyone with a link to a file on DryIce can download the file, but users can only see links to the files that they've uploaded. That information is linked to your browser to eliminate the need for users to log in.
</p>

</div>