{% extends "base.jade" %}

{% block after_title %} - FAQ{% endblock %}

{% block content %}
<div class="text-content">

<h2>Frequently Asked Questions</h2>

<h3>What is Dropbucket?</h3>
<p>
Dropbucket is a simple way to transfer files between computers.
</p>

<h3>How do I use Dropbucket?</h3>
<p>
Follow these simple steps:
<ol>
    <li>Select a file to upload using the <strong>Browse</strong> button.</li>
    <li>Click <strong>Upload</strong> to upload a file.</li>
    <li>Click a file's button to copy its link to your system 
        clipboard.</li>
    <li>Share the link! Anyone with the link can download the file until
        it expires.</li>
</ol>
</p>

<h3>Who can download my files?</h3>
<p>
Only you can see the files that you've uploaded when visiting the site, but anyone with the link to one of your files can download it. There is no way for users to see a list of files uploaded by other users.
</p>

<h3>Can I share sensitive information through Dropbucket?</h3>
<p>
You can upload anything you want to Dropbucket, but be aware that anyone with the link to one of your file can download it.
</p>

<h3>How long are my files stored on Dropbucket?</h3>
<p>
Files uploaded to Dropbucket are stored for 60 minutes after they're uploaded before they are automatically deleted. Links to deleted files are no longer valid after that time.
</p>

<h3>Why doesn't Dropbucket have user accounts?</h3>
<p>
Dropbucket is meant to be a simple way to temporarily make files available online so you can share between computers. Anyone with a link to a file on Dropbucket can download the file, but users can only see links to the files that they've uploaded. That information is linked to your browser to eliminate the need for users to log in.
</p>

</div>
{% endblock %}
