{% extends "base.jade" %}

{% block after_title %} - About{% endblock %}

{% block content %}
<div class="text-content">

<h2>About</h2>

<h3>Goal</h3>
<p>
Our goal is to give people a way to share files with each other quickly and
effortlessly. Think of Dropbucket as the clipboard for files that you 
don't have to worry about managing.
</p>

<h3>How to Use</h3>
<p>
Dropbucket is designed for ease of use. Follow these simple steps:
<ol>
    <li>Click <strong>Upload</strong> to upload a file.</li>
    <li>Click a file's button to copy its link to your system 
        clipboard.</li>
    <li>Share the link! Anyone with the link can download the file until
        it expires.</li>
</ol>
All files are permanently deleted after they expire. Dropbucket is NOT
intended to provide long-term storage.
</p>
</div>
{% endblock %}
