{% extends "base.jade" %}

{% block content %}
#content.container
  .row
      .col-xs-12.col-sm-6#upload-container
        .row
          .col-xs-12.col-sm-5.col-md-4
            h3.col-xs-center.col-sm-right up
          .col-xs-12.col-sm-7.col-md-8
            .col-xs-center.col-sm-left
              h4 drag and drop
              form#upload-form(action='https://dropbucket-datastore.s3.amazonaws.com', method='post', enctype='multipart/form-data')
                input(type='hidden', name='key', value='${filename}')
                input(type='hidden', name='AWSAccessKeyId', value='AKIAJY4PLTKEW3V6DPFQ')
                input(type='hidden', name='acl', value='public-read')
                input(type='hidden', name='success_action_redirect', value="/")
                input(type='hidden', name='policy', value="{{ policy }}")
                input(type='hidden', name='signature', value="{{ signature }}")
                input(type='hidden', name='Content-Type', value="")                
                input(type='hidden', name='x-amz-meta-session_id', value="{{session_id}}")

                button#browse-button
                  span#browse browse
                  input(id='file-input', type='file', name='file')
                <!--input(type='hidden', name='filesize', value='-1')-->
                span#file-input-info.label
                br
                button#upload-button(id='upload-button', type='button') upload

      .col-xs-12.col-sm-6#files-container
        .row
          .col-xs-12.col-sm-5.col-md-4
            h3.col-xs-center.col-sm-right down
          .col-xs-12.col-sm-7.col-md-8
            .col-xs-center.col-sm-left
              h4 pick and click
              .row#files
                each file in files
                  .file-wrapper.col-xs-12.col-md-6.col-lg-4
                    .file
                      a(href='/file/'+file.name)
                        button.btn=file.name
                      p.
                        Expires in <span id="{{loop.index}}_timeRemaining"></span>
                      script.
                          var endTime = 
                            new Date(Date.UTC(
                                {{ file.expire_time.year }}, 
                                {{ file.expire_time.month }} - 1, 
                                {{ file.expire_time.day }}, 
                                {{ file.expire_time.hour }},
                                {{ file.expire_time.minute }}, 
                                {{ file.expire_time.second }}));
                          startCountdown(endTime, {{loop.index}});
{% endblock %}

{% block scripts %}
script(type='text/javascript').
    $("document").ready(function() {
        $('#upload-button').prop('disabled', true);
        
        var size_limit = {{ size_limit }} / 1024 / 1024;
        var quota_reached = {{ quota_reached }}

        $('#upload-button').click(function() {
            document.getElementById("upload-form").submit();
        });

        $("#file-input").change(function (e) {
            var files = e.currentTarget.files;
            var filesize = ((files[0].size/1024)/1024).toFixed(4); //MB
            if (filesize > size_limit) {
                alert("Selected file is larger than the " + 
                        size_limit + "MB limit.");
                $('#upload-button').prop('disabled', true);
            } else {
                $('#upload-button').prop('disabled', false);
            }
        });
    });
{% endblock %}
