{% extends "base.jade" %}

{% block content %}

#content
  .container
    .row
      .col-xs-12.col-sm-6#upload-container
        .row
          .col-xs-12.col-sm-5.col-md-4
            h3.col-xs-center.col-sm-right up
          .col-xs-12.col-sm-7.col-md-8
            .col-xs-center.col-sm-left
              h4 drag and drop
              form#upload-form(action='/upload/', method='post', enctype='multipart/form-data')
                button#browse-button
                  span#browse browse
                  input(id='file-input', type='file', name='upload')
                input(type='hidden', name='filesize', value='-1')
                span#file-input-info.label
                br
                button#upload-button(id='upload-button', type='button') upload

      .col-xs-12.col-sm-6#files-container
        .row
          .col-xs-12.col-sm-5.col-md-4
            h3.col-xs-center.col-sm-right down
          .col-xs-12.col-sm-7.col-md-8
            .col-xs-center.col-sm-left
              h4 pick and click
              .row#files
                each file in files
                  .file-wrapper.col-xs-12.col-md-6.col-lg-4
                    .file
                      a(href='/download/'+file.name, download=file.name)
                        button.btn=file.name
                      p.
                        Expires in <span id="{{loop.index}}_timeRemaining"></span>
                      script.
                          var endTime = 
                            new Date(Date.UTC(
                                {{ file.expire_time.year }}, 
                                {{ file.expire_time.month }} - 1, 
                                {{ file.expire_time.day }}, 
                                {{ file.expire_time.hour }},
                                {{ file.expire_time.minute }}, 
                                {{ file.expire_time.second }}));
                          startCountdown(endTime, {{loop.index}});
{% endblock %}

{% block navbar_left %}
div.container.pull-left
  p.navbar-text You can still upload <strong>{{ quota_left }} MB</strong>.
  p.navbar-text That limit will reset in <strong><span id="reset_timeRemaining"></span></strong>.

script.
  var endTime = 
    new Date(Date.UTC(
        {{ reset_time.year }}, 
        {{ reset_time.month }} - 1, 
        {{ reset_time.day }}, 
        {{ reset_time.hour }},
        {{ reset_time.minute }}, 
        {{ reset_time.second }}));
  startCountdown(endTime, 'reset');
{% endblock %}

{% block scripts %}
script(type='text/javascript').
    $("document").ready(function() {
        $('#upload-button').prop('disabled', true);
        
        var size_limit = {{ size_limit }} / 1024 / 1024;
        var quota_reached = {{ quota_reached }}

        $('#upload-button').click(function() {
            if (quota_reached === false) {
                document.getElementById("upload-form").submit();
            } else {
                alert("You've reached your upload limit. Please try again in a few minutes.");
            }
        });

        $("#file-input").change(function (e) {
            var files = e.currentTarget.files;
            var filesize = ((files[0].size/1024)/1024).toFixed(4); //MB
            console.log(filesize[0].name);
            if (filesize > size_limit) {
                alert("Selected file is larger than the " + 
                        size_limit + "MB limit.");
                $('#upload-button').prop('disabled', true);
            } else if ({{quota_left}} - filesize < 0) {
                alert("That file exceeds your remaining upload allowance. Please try again after your limit resets.");
                $('#upload-button').prop('disabled', true);
            } else {
                $('#upload-button').prop('disabled', false);
            }
        });
    });
{% endblock %}
