{% load staticfiles %}

doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    title DryIce{% block after_title %}{% endblock %}

    link(rel='icon', type='image/png', href="{% static '/static/img/favicon.ico' %}")

    link(rel="stylesheet", href="{% static '/static/vendor/jquery-ui/jquery-ui.css' %}")
    link(rel="stylesheet", href="{% static '/static/vendor/jquery-file-upload/jquery.fileupload-ui.css' %}")

    link(rel='stylesheet', href="{% static '/static/vendor/bootstrap/bootstrap.css' %}")

    link(rel='stylesheet', href="{% static '/static/css/main.css' %}")

  body
    header#header
      .container
        .row
          #title.col-xs-12.col-sm-5.col-md-3.col-md-offset-2
            a(href='/')#logo-link
              h1.col-xs-center.col-sm-right.col-lg-left DryIce
          .col-xs-12.col-sm-6.col-md-3
            #subtitle
              h2.col-xs-center.col-sm-right
                | upload files
                br
                | download files
                br
                small nothing else

    div#content
      {% block content %}{% endblock %}

    div.navbar.navbar-default.navbar-fixed-bottom
      {% block navbar_left %}{% endblock %}
      div.pull-left.navbar-text Problem? Contact <a href="mailto:support@dryice.io">support@dryice.io</a>
      div.pull-right#footer-navbar
        a(href='/').navbar-btn.btn-link.btn Home
        a(href='/about/').navbar-btn.btn-link.btn FAQ
        a(href='/disclaimer/').navbar-btn.btn-link.btn Disclaimer
        a(href='/clear_session/', title="Delete all files linked to this session (cannot be undone).").navbar-btn.btn-danger.btn Clear Session

    #scripts
      script(src="{% static '/static/vendor/jquery/jquery.js' %}")
      script(src="{% static '/static/vendor/jquery-ui/jquery-ui.js' %}")
      script(src="{% static '/static/vendor/jquery-file-upload/jquery.iframe-transport.js' %}")
      script(src="{% static '/static/vendor/jquery-file-upload/jquery.fileupload.js' %}")

      script(src="{% static '/static/vendor/bootstrap/bootstrap.js' %}")
      script(src="{% static '/static/vendor/bootstrap-file-input/bootstrap.file-input.js' %}")

      script(src="{% static '/static/vendor/moment/moment.js' %}")

      script(src="{% static '/static/js/vendor/countdown_timer.js' %}")

      script(src="{% static '/static/js/main.js' %}")
      block extrascripts
