{% extends "base.jade" %}

{% block after_title %} - Disclaimer{% endblock %}

{% block extrahead %}
{% include 'analytics.html' %}
{% endblock %}

{% block disclaimer_active %}active{% endblock %}

{% block content %}
<div class="text-content">

<h2>Terms of Service</h2>

<p>
By using this site, you agree not to use DryIce for any of the following:
<ul>
    <li>Upload or transmission of data that is (i) illegal to own, (ii) infringes on another person's intellectual property or copyrights, or (iii) violates any applicable law or regulation.</li>
    <li>Access any non-public areas of the site or its supporting infrastructure.</li>
    <li>Attempt to assess vulnerability of or bypass any of DryIce's authentication or security measures.</li>
</ul>

DryIce reserves the right to remove any data found to violate copyright or intellectual property laws, and ban any users in violation of these terms of service.

The creators of this site do not claim ownership of any of the content hosted on it. We do not guarantee the availability of or provide backups of any data uploaded to the storage services utilized by DryIce.
</p>
</div>
{% endblock %}
