{% extends "base.jade" %}

{% block after_title %} - Disclaimer{% endblock %}

{% block extrahead %}
{% include 'analytics.html' %}
{% endblock %}

{% block disclaimer_active %}active{% endblock %}

{% block content %}
<div class="text-content">

<h2>Disclaimer</h2>

<p>
The creators of this site do not claim ownership of any of the content hosted on it. All files uploaded by users are deleted within no more than one hour of their time of creation. The site des not maintain logs of connections, uploads, or any other information. All users remain entirely annonymous.
</p>
</div>
{% endblock %}
