{% extends 'base.jade' %}
{% load staticfiles %}

{% block home_active %}active{% endblock %}

block content
  #content.container
    .row
      .col-xs-12.col-md-5#upload-container
        .row
          .col-xs-12.col-sm-1.col-md-1
            h3.col-xs-center.col-sm-right up
          .col-xs-12.col-sm-11.col-md-11
            .col-xs-center.col-sm-left
              h4 browse and upload

        .row
          .col-xs-12.col-sm-12.col-md.12
            form(id="file-info", action="/add_file_info/", method="post")
              {% csrf_token %}
              label(for='expiration') Expiration
              select#expiration(name='expiration')
                option(value='10') 10m
                option(value='60') 1h
                option(value='1440', selected="selected") 24h
                option(value='4320') 3d
                //-option(value='-1') Never

            br

            form(id="uploadForm", action="https://{{ bucket }}.s3.amazonaws.com", method="post", enctype='multipart/form-data')
              input(type='hidden', name='key', id="uploadKey")
              input(type='hidden', name='AWSAccessKeyId', value='{{ AWSAccessKeyId }}')
              input(type='hidden', name='acl', value='public-read')
              input(type='hidden', name='success_action_redirect', value='/')
              input(type='hidden', name='policy', value='{{ policy }}')
              input(type='hidden', name='signature', value='{{ signature }}')
              input(type='hidden', name='Content-Type', value="")
              input(type='hidden', name='x-amz-meta-session_id', value='{{ session_id }}')
              input(type='hidden', name='x-amz-server-side-encryption', value="AES256")
              input.btn.btn-default(type='file', name='file', id='uploadFile', multiple)
              br
              br
              button.btn.btn-success(type='button', id='uploadButton') Upload
        .row
          .col-sm-11
            div#dropbox()
              span#dropbox-text
                h2 
                  strong Drop files 
                  | to upload
                h4 (or click)
        .row
          .col-sm-11
            #progressbar
              #progress-label Status 

            #message

      .col-xs-12.col-md-7#files-container
        #spinner-container
          #refresh-spinner.i.fa.fa-spinner.fa-spin.fa-5x
        .row
          .col-xs-12.col-sm-3.col-md-2
            h3.col-xs-center.col-sm-right down
          .col-xs-12.col-sm-6.col-md-8
            .col-xs-center.col-sm-left
              h4 pick and click
        .row
          .col-xs-12.col-sm-10.col-md-12
              .row#files
                {% include "link_table.jade" %} 

append extrascripts
  include analytics.html
  script.
    window.SIZE_LIMIT =  {{ size_limit }};
    window.SESSION_ID = "{{ session_id }}";
  script(src="{% static '/static/js/index.js' %}")

