if files
  div#link_table
    table#link_table.table
      col(width='600px')
      col(width='250px')
      col(width='300px')
      col(width='25px')
      th File
      th Link
      th Expires in...
      th
      each file in files
        tr.file_row(data-file_expire_time="{{ file.expire_time_string }}")
          td.file_cell
            {{ file.nice_name }}
          td
            a(href='/{{ file.ez_link }}', display='inline') dryice.io/{{ file.ez_link }}
          td.expires_cell
            span(id="{{ forloop.counter }}_timeRemaining")
          td.delete_cell
            .trashcan(data-filename="{{ file.name }}") <i class="fa fa-trash-o"></i>
else
  div#link_table
  #no_files
    h3 You haven't uploaded any files yet!
