* {
    box-sizing: border-box;
}

.trashcan {
    color: #d2322d;
}
.trashcan:hover {
    cursor:pointer;
}

#image {
    width: 100%;
    margin-bottom: 20px;
}

#progressbar {
    margin-top:15px;
}

#navbar {
    margin-top: 5px;
    margin-bottom:0px;
    height:30px !important;
}

#dropbox {
    display: table;
    height: 60%;
    border: gray 1px solid;
    width: 100%;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}
#dropbox:hover {
    cursor: pointer;
    background: #ddd;
}
#dropbox-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#uploadForm {
    display: none;
}

#clear_session {
    margin: 0;
    color: black;
}

.navbar {
    margin-bottom:0;
}

.dropdown-menu {
    width:200px;
}

/* Table with files, links, and expiration timers */
#link_table {
    border: 1px solid white;
}
#link_table td, th {
    text-align: center;
}
#link_table td {
}
.file_cell {
    text-align: right;
}
.expires_cell {
    text-align: center;
}
#link_table td {
    padding-top:6px;
    padding-bottom:6px;
}


/* File upload progress bar */
#progressbar {
    position: relative;
    text-align: center;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    line-height: 35px;
    width: auto;
    visibility: hidden;
}
#progress-label {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    vertical-align: middle;
}
.ui-widget-header {
    background-image: none !important;
    background-color: #76f776 !important;
}
#uploadButton {
    margin-right: 10px;
    float: left;
}

/* Code Preview (google-code-prettify) */
#code-preview {
    text-align: left !important;
    display: none;
}

.file-page-cell {
    display: table;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 65px;
}
.file-page-cell .file-cell-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


/* Center the text in the middle of the window */
.text-content {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}


/* Bootstrap Additions & Modifications */
.pull-center { text-align: center; }

@media only screen {
    .col-xs-left   { text-align: left   !important; }
    .col-xs-center { text-align: center !important; }
    .col-xs-right  { text-align: right  !important; }
}
@media only screen and (min-width: 768px) {
    .col-sm-left   { text-align: left   !important; }
    .col-sm-center { text-align: center !important; }
    .col-sm-right  { text-align: right  !important; }
}
@media only screen and (min-width: 992px) {
    .col-md-left   { text-align: left   !important; }
    .col-md-center { text-align: center !important; }
    .col-md-right  { text-align: right  !important; }
}
@media only screen and (min-width: 1200px) {
    .col-lg-left   { text-align: left   !important; }
    .col-lg-center { text-align: center !important; }
    .col-lg-right  { text-align: right  !important; }
}

body {
    font-size: 16px;
    color: #333333 !important;
}
h1, h3, h5 {
    margin: 20px 0 10px 0;
    line-height: 1;
}
h2, h4, h6 {
    margin: 20px 0 10px 0;
    line-height: 1;
}
h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 26px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

small {
    padding-right: 5px;
}

header {
    //background-color: #0066cc;
    background-color: #eaeaea;
    padding: 20px 0;
    height: 140px;
    color: white;
}
header .row {
    height: 120px;
    margin-top: 0px;
}
header #title h1 {
    font-size: 2.6em;
    margin: 0;
    line-height: 120px;
}
header #subtitle h2 {
    font-size: 1.5em;
    margin: 0;
}
header #subtitle {
    height: 120px;
    width: 999px; /* Obviously a hack. */
    display: table-cell;
    vertical-align: middle;
}

#no_files { text-align: center; }

#content {
    padding: 20px 0;
    padding-top: 0;
    display:block;
    margin-left:auto;
    margin-right:auto;
    background: white;
}

#content h3, #content h4 {
    height:      30px;
    line-height: 30px;
}

#upload-form {
    padding: 20px 0;
}
#browse-button, #upload-button {
    width: 100px;
    position: relative;
    overflow: hidden;
    color: #222;
    background-color: #eee;
    border: none;
}
#browse-button:hover, #upload-button:hover {
    color: #eee;
    background-color: #222;
    transition: all 0.4s ease-out;
}
#browse-button { margin-bottom:15px; }
#upload-button { margin-top:   15px; }
#browse-button, #file-input-info, #upload-button {
    font-weight: bold;
    padding: 9px 18px;
}
#file-input-info {
    border-radius: 0;
    color: #eee;
    background-color: #222;
    margin-right: -5px;
    font-size: 13px;
}

#logo {
    width: 230px;
}

#navbar ul {
}
#navbar a:hover, a:active {
    color: gray;
}
.sign-in-box, a:hover {
    color: gray !important;
}

#files-container {
    text-align:relative;
    min-height: 250px;
}
#spinner-container {
    text-align: center;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
#refresh-spinner {
    visibility: hidden;
}
#no_files {
    visibilty: visible;
}
